body {
    text-align: center;
    font-family: monospace;
    background-color: darkgray;
    color: black;
}

header {
    text-align: center;
    font-family: monospace;
    background-color: darkgray;
    color: black;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

img {
    width: 40%;
    height: 60%;
}

figure {
    text-align: center;
    font-style: italic;
}

li {
    text-align: left;
    margin-bottom: 5px;
}


.second-nav {
    display: inline-block; 
    border: 2px solid gray; 
    padding: 6px 12px;
    border-radius: 6px;
    background-color: transparent;
  }

.second-nav .spacer {
    font-size: 1em;
    line-height: 1;
    vertical-align: middle;
    opacity: 0.7;
}


.second-nav a {
    color: black;
    font-weight: normal;
    padding: 5px 10px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.second-nav a:hover {
    background-color: gray;
    color: white;
}

@media (max-width: 768px) {
    .second-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px;
    }
}