body {
    text-align: center;
    font-family: monospace;
    background-color: darkgray;
    color: black;
}

header {
    text-align: center;
    font-family: monospace;
    background-color: darkgray;
    color: black;
}

a {
    color: crimson;
    text-decoration: none;
}

a:hover {
    color: orange;
    text-decoration: underline;
}

img {
    width: 40%;
    height: 60%;
}

figure {
    text-align: center;
    font-style: italic;
}

li {
    text-align: left;
    margin-bottom: 5px;
}