    <h1>Collin Gallagher's Carefree Goose | ITIS3135</h1>
    <nav class="top-nav">
        <a href="./">Home</a>
        -
        <a href="introduction.html">Introduction</a>
        -
        <a href="contract.html">Contract</a>
        -
        <a href="website_evaluations.html">Website Evaluations</a>
        -
        <a href="byo_intro.html">Byo Intro</a>
    </nav>
    <nav class="second-nav">
        <a href="hobby/">Hobby Page</a>
        ~
        <a href="carefreegoose/">Carefree Goose Bath Co.</a>
        ~
        <a href="stuff/Mypage& Survey.htm">Crappy Webpage</a>
        ~
        <a href="tables.html">HTML Tables</a>
    </nav>
